<!-- your html code here -->
<div class="container mb-3 mt-5 ">
    <h2>Contact</h2>
    <p>lorem impsum fcv venezuela onsecteur", en un pasaje de Lorem Ipsum, y al seguir leyendo distintos textos del
        latín, descubrió la fuente indudable del latin</p>
    <p>leones de caracas campeon, lakers campeon onsecteur", en un pasaje de Lorem Ipsum, y al seguir leyendo
        distintos textos del latín. </p>

<form>

    <div class="card text-bg-light mb-5 px-5 m-5 d-flex justify-content-center "style= "max-width: 800px">

        <div class="form-group d-flex p-2 gap-5 justify-content-between ">
            <div class="fit-content text-nowrap">
                <p><b>Your email</b></p>
            </div>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="your email" />
        </div>
        <div class="form-group d-flex p-2 gap-5 text-nowrap justify-content-between">
            <p><b>Your message</b></p>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">Your message</textarea>
        </div>

        <div class="d-flex justify-content-end p-4">
            <button type="submit " class="btn btn-primary">Submit</button>
        </div>


    </div>

</form>
</div>