<!-- your html code here -->
<div class="d-flex justify-content-center p-top-4 bg-Light">
  <div class="d-flex justify-content-center w-75 p-5">
   <div class="text p-3">
       <h2><b>This First Heading</b> Will Catch Your Eye</h2>
       <p class="fs-5">Donec ullamcorper nulla non metus auctor fringila. Vestibulum id ligula porta feiis suismod semper. Praesent commodo cursus magna. vel scelerisque nisl consectetur. Fuisce dapibus, teilus ac cursus commodo. </p>
   </div>
   <div class="imagen">
       <img class="rounded-circle h-100 w-100" src="assets/img/1.jpg" alt="">
       
   </div>
  </div>
     
</div>