
    <div class="container m-4 mb-4">
        <h1>Portafolio</h1>
        <p>Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus
            raices en una pieza cl´sica de la literatura del Latin, que data del año.</p>
        <p>45 antes de Cristo, haciendo que este adquiera mas de 2000 años de antiguedad. Richard McClintock.</p>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 m-4">
        <div class="col">
            <div class="card h-50">
                <img src="https://picsum.photos/100/100" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project name</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>



            </div>
        </div>
        <div class="col">
            <div class="card h-50">
                <img src="https://picsum.photos/100/101" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project name</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>


                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-50">
                <img src="https://picsum.photos/100/102" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project name</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>


                </div>
            </div>
        </div>
    </div>
