<!-- your html code here -->
<div class="d-flex justify-content-center p-1 bg-Light">
    <div class="d-flex justify-content-center w-75 p-5">
     <div class="imagen">
         <img class="rounded-circle" width="200" height="250" src="assets/img/2.jpg" alt="...">
         
     </div>
     <div class="text p-4">
         <h2><b>The Second Heading</b> Is Pretty Cool Too.</h2>
         <p class="fs-5">Donec ullamcorper nulla non metus auctor fringila. Vestibulum id ligula porta feiis suismod semper. Praesent commodo cursus magna. vel scelerisque nisl consectetur. Fuisce dapibus, teilus ac cursus commodo. </p>
     </div>
     
    </div>
       
  </div>
